:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #d9dbc0;
  color: #2b303a;
}

h1 {
  text-align: center;
  font-family: Monospace;
  margin: 1rem 0 3rem 0;
  border: thin dotted;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

section {
  min-width: 18rem;
  border: thick solid #7c7c7c;
  border-radius: 0.3rem;
  margin-bottom: 3rem;
  background-color: #96ce7b;

  display: flex;
  flex-direction: column;
  align-items: center;
}

section h2,
section p {
  text-align: center;
}

section h3 {
  margin: 1rem 0;
  font-family: Monospace;
  font-size: 3rem;
}

h3.winnerDisplay1 {
  margin: 1rem 0;
  font-family: Monospace;
  font-size: 3rem;
  visibility: hidden;
}

h3.winnerDisplay2 {
  margin: 1rem 0;
  font-family: Monospace;
  font-size: 3rem;
  visibility: hidden;
}

fieldset {
  padding-left: 0;
  padding-right: 0;
  border: none;
}

fieldset input {
  padding: .7rem;
}

fieldset i {
  margin: 0 0.2rem;
}

fieldset button.team1-score-button-plus {
  color: green;
  margin: 1rem 0;
  min-width: 4rem;
}

fieldset button.team2-score-button-plus {
  color: green;
  margin: 1rem 0;
  min-width: 4rem;
}

fieldset button.team1-score-button-subtract {
  color: #f64545;
  margin: 1rem 0;
  min-width: 4rem;

}

fieldset button.team2-score-button-subtract {
  color: #f64545;
  margin: 1rem 0;
  min-width: 4rem;
}

fieldset button.reset-scores {
  color: #f64545; 
  margin: 1rem 0;
  min-width: 5rem;
}